* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-size: 17px;
    font-weight: 300; */
    min-width: 1200px;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.demo-head {
    min-height: 60px;
    /* min-width: 1100px; */
    max-width: 2100px;
    background-color: rgb(225, 222, 198);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    color: rgb(159, 122, 122);
}
.mail-contact {
   margin-top: 13px;
} 
.social-media {
    display: flex;
    min-width: 200px;
    max-height: 40px;
    /* background-color: blanchedalmond; */
    /* background-color: brown; */
    margin-right: 0px;
    margin-left: 20px;
}
.media {
    display: flex;
    margin-top:10px;
    margin-left: 15px;
}
.four {
    width: 28px;
    height: 28px;
    text-align: center;
    justify-content: center;
    /* border: 1px solid red; */
    border-radius: 30px;
    background-color: rgb(160, 164, 164);
    color: white;
    padding-top: 5px;
    margin-left: 10px;
}
.head-section {
    /* min-width: 1100px; */
    max-width: 1200px;
    min-height: 95px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    background-color: aliceblue;
    padding: 0px 30px;
}
.lists {
    /* min-width: 1100px; */
    max-width: 1100px;
}
ul {
    margin-left: 150px;
}
ul li {
    display: inline-block;
    margin-left: 40px;
}
a {
    text-decoration: none;
    color: white;
}
.span-1 {
    color: rgb(159, 122, 122);
}
ul li a{
    text-decoration: none;
    color: black;
}
.btn-2 {
    display: inline-block;
    margin-left: 90px;
    padding: 13px 25px;
    border-radius: 50px;
    color: rgb(159, 122, 122);
    background-color: white;
    border: none;
    border: 1px solid brown;
}
.btn-2:hover {
    background-color: rgb(160, 164, 164);
    color: white;
}
/* digi-agency */
.digi-agency {
    /* margin-top: 200px; */
    /* min-width: 1100px; */
    max-width: 1200px;
    height:680px;
    background-color: rgb(255, 255, 255);
}
.row-1 {
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
}

.para-1,
.head-1,
.btn-3 {
    margin-top: 24px;
}
.font {
    color: rgb(159, 122, 122);
    font-weight: 300;
    font-family: 'Roboto', sans-serif; */
}
.para-1 {
    color: rgb(159, 122, 122);
    margin-top: 30px;
}
.head-1 {
    font-size: 2.5rem;
    font-weight: 600;
}
.btn-3 {
    display: inline-block;
    margin-left: 90px;
    padding: 15px 27px;
    border-radius: 50px;
    color: rgb(159, 122, 122);
    background-color: white;
    border: none;
    border: 1px solid brown;
    margin: 40px 0;
}
.btn-3:hover {
    background-color: rgb(160, 164, 164);
    color: white;
}
.rocket {
    /* min-width: 1100px; */
    max-width: 1200px;
    height: 600px;
}
.row-2 {
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
}
.col-right {
    margin-top: 45px;
}
.span-2 {
    color: rgba(34, 34, 237, 0.847);
}
.line {
    margin-top: 30px;
    width:50px;
    height: 2px;
    background-color: rgba(34, 34, 237, 0.847);
   
}
.head-2 {
    margin-top: 20px;
}
.para-2 {
    margin-top: 35px;
    line-height: 30px;
}
.rounds {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    padding: 10px 20px;
    /* border: 2px solid black; */
    align-items: center;
}
.round-1 {
    width:135px;
    height: 135px;
    border: 3px solid blue;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.percentage {
    font-size: 1.3rem;
}
.code {
    font-size: 1rem;
    color: rgb(159, 122, 122);
}
.services {
    max-width: 1200px;
    height: 370px;
    background-color: rgb(251, 251, 251);
    text-align: center;
}
.para-3 {
    color: rgba(34, 34, 237, 0.847);
    font-size: 18px;
    font-weight: 500;
}
.what {
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: 600;
    color: black;
}
.line-2 {
   margin: 0 auto;
    margin-top: 30px;
    width:50px;
    height: 2px;
    background-color: rgba(34, 34, 237, 0.847);
    margin-bottom:35px;
}
.sales {
    margin-top:40px;
    /* border: 2px solid blue; */
    padding: 30px 20px;
    max-width: 1020px;
    height: 250px;
    /* background-color: aqua; */
    margin: 0 auto;
}
.row-3 {
    display: flex;
    justify-content: space-around;
}
.para-4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}
.column-3 {
    border: 2px solid rgb(252, 248, 248);
    padding: 25px 20px;
    border-radius: 14px;
    /* background-color: white; */
    width: 190px;
    height: 160px;
}
.column-3:hover {
    background-color: white;
}
.tracking {
    max-width: 1200px;
    height: 700px;
}
.row-4{
    max-width: 1120px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 14px;
    padding: 50px 120px;
    padding-bottom: 60px;
    display: flex;
    border: 2px solid gainsboro;
}
.track {
    color: rgb(159, 122, 122);
    margin-top: 40px;
}
.para-5 {
    color: rgb(159, 122, 122);
    margin-top: 45px;
    line-height: 30px;
}
.column-4 {
    width: 48%;
    height: 550px;
    
}
.ladder {
    padding: 50px;
    padding-top: 130px;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-left: 5px;
}
.correct {
    margin-top: 33px;
    /* padding: 20px 0px; */
}
.correct-1 {
    padding: 13px 0px;
}
.para-5 {
    position: relative;
    bottom: 20px;

}
.free {
    max-width: 1200px;
    height: 400px;
    background-color: rgb(191, 105, 191);
    text-align: center;
    padding-top: 100px;

}
.line-3 {
    margin: 0 auto;
    margin-top: 30px;
    width:50px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.847);
    margin-bottom: 40px;
}

.new {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}
.grow {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.website {
    width: 800px;
    height: 80px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.row-five {
    width: ;
}
.row-six {
    width: 266.66px;
    background-color: rgb(35, 13, 206);
    border-radius: 0px 50px 50px 0px;
}
.vertical-1 {
    display: flex;
}
/* .police {
    margin-left: 80px;
} */
.addition {
    position: relative;
    top: 22px;
    left: 25px;
    font-size: 15px;
}
.vertical {
    width: 152px;
    height: 2px;
    color: black;
    background-color: rgb(201, 157, 157);
    margin-top: 20px;
    position: relative;
    top: 30px;
    right: 90px;
    padding: 0p;
}
/* 
.row-5 {
    margin-top: 40px;
    max-width: 800px;
    margin: 0 auto;
    height: 80px;
    background-color: rgb(241, 249, 249);
    border-radius: 50px;
    display: flex;

} */
/* .column-5 {
    max-width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .straight-line {
    margin-left: 10px;
    display: flex;
}
.six {
    margin-left: 10px;
} */
/* projects */
.projects {
    max-width: 1200px;
    height: 550px;
    background-color: white;
    padding: 50px 10px;
    
}
.project-div {
    max-width: 1200px;
    height: 600px;
}

.line-4 {
    margin-top: 45px;
    width:50px;
    height: 2px;
    background-color: rgba(88, 18, 237, 0.847);
    margin-bottom: 40px;

}
.head-3 {
    margin-top: 100px;
}
.para-7 {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 900;
}

.market {
    margin-top: 80px;
    max-width: 1200px;
    min-height: 300px;
    /* background-color: burlywood; */
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
}
.marketing {
    width: 18%;
    height: 280px;
    background-color: white;
    border: 1px solid rgb(215, 215, 232);
    border-radius: 14px;
    text-align: center;
}
.portable {
 /* display: inherit; */
 object-fit: cover;
 border-radius: 12px 12px 0px 0px;
 margin-bottom: 5px;

} 
.marketing {
    /* display: flex;
    flex-direction: column; */

}
.anchor-1 {
    color: black;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}
.anchor-1:hover {
    color: rgb(159, 122, 122);
}
.para-8 {
    color: rgb(159, 122, 122);
    padding-bottom: 5px;
    font-size: medium;
    font-size: 15px;
}
.blog {
    margin-top: 230px;
    max-width: 1200px;
    min-height: 950px;
    /* background-color: antiquewhite; */
    text-align: center;
    padding: 20px 30px;
}
small {
    font-size: 14px;
    font-weight: 400;
    color: blue;
}
.heading {
    margin-top: 10px;
    font-size: 30px;
}
.post {
    margin-top: 10px;
    color: blue;
    font-weight: 400;
    /* font-size: 24px; */
}
.discover {
    max-width: 1150px;
    max-height: 900px;
    /* background-color: gray; */
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.cover-1 {
    width: 48.5%;
    /* border: 1px solid gray; */
    /* background-color: aqua; */
    height: 830px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -9;

}

.covered {
    height: 730px;
    border: 1px solid rgb(180, 172, 172);
    background-color: white;
}
.blue-img {
    max-height: 400px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}
.btn-6 {
    padding: 8px 14px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50px;
    position: relative;
    top: 30px;
    left: 20px;

}
.ring {
    width: 135px;
    height: 45px;
    margin-top: 20px;
}
.week {
    position: relative;
    right: 40px;
    margin-left: 40px;
    padding-right: 110px;
}
.btn-date {
    display: flex;
    justify-content: space-between;
}
.date {
    color: rgb(159, 122, 122);
    position: relative;
    top: 33px;
    right: 20px;
}
.contents-1 {
    position: relative;
    top: 50px;
    text-align: left;
    left: 10px;
    /* word-spacing: 3px;
    line-height: 20px; */
}
.ready {
    word-spacing: 3px;
    line-height: 20px;
}
.para-9 {
    margin-top: 30px;
    word-spacing: 3px;
    line-height: 20px;
}
.girls {
    padding: 0px 15px;
    position: relative;
    top: 105px;
    left: 10px;

}
.girl {
    display: flex;
    /* justify-content: space-between; */
}
.para-10 {
    margin-top: 20px;
    position: relative;
    left: 12px;
}
.author {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.btn-8 {
    padding: 5px 18px;
    border-radius:50px;
    width: 160px;
    height: 50px;
    border: none;
    position: relative;
    left: 110px;
    top: 10px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid gray;
    color: gray;
}
.btn-8:hover {
    background-color: grey;
    color: white;
}
.right-direction {
    display: flex;
}
.column-7 {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    max-height: 266px;
    /* width: 48.5%; */
    /* border: 2px solid greenyellow; */
}
.col-contents {
    display: flex;
    flex-direction: column;
    max-height: 266px;
}
.stars {
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
}
.seven {
    margin-top: 30px;
}
.fire {
    width:110px;
    height: 35px;
}
.date {
    position: relative;
    top: 35px;
    left:90px;
    color: gray;
}
.twist {
    text-align: left;
    position: relative;
    top:35px;
    left: 30px;
    color: black;
    line-height: 25px;
    font-size: larger;
    font-weight: 600;
}
.amet {
    line-height: 20px;
    position: relative;
    top: 30px;
    left: 30px;
    margin-top: 30px;
    color: gray;

}
.touch {
    max-width: 1200px;
    height: 190px;
    /* background-color: blanchedalmond; */
    text-align:center;
    margin-top: 50px;
}
.android {
    position: relative;
    left: 400px;
    bottom: 155px;
    z-index: -4;
    margin-bottom: 50px;
}
.para-11 {
    font-size: 16px;
    font-weight: 400;
    color: blueviolet;
    
}
.now {
    margin-top: 25px;
    font-weight: 800;
    font-size: 28px;
}
.line-2 {
    margin: 0 auto;
    margin-top: 25px;
}
.google-map {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid rgb(137, 118, 118);
    height: 700px;
    
    /* background-color: aquamarine; */
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
}
.meta {
    width: 1100px;
    height: 550px;
    border-radius: 50px;
    /* background-color: aqua; */
    /* border: 2px solid gray; */
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}
div.ground {
background-image: url(./images/ladder.jpg);
background-repeat: no-repeat;
background-position: center;background-size: cover;
/* background-color: rgb(11, 2, 20); */
border-radius: 50px 0px 0px 50px  ;
display: inherit;

}
div.location {
    /* background-color: chartreuse;  */
    /* border: 2px solid red; */
    padding: 50px 40px;
    border-radius: 0px 50px 50px 0px;
}
.outer {
    /* border: 2px solid red; */
    padding: 3px 5x;
    height: 590px ;
}
.inner-1 {
    /* border: 1px solid rgb(125, 26, 224); */
    padding: 3px 5px;
    height:370px ;
}
.right-3  {
    display: flex;
    justify-content: space-around;
    height: 220px;
}
.column-22 {
    width: 136px;
    height: 130px;
    border: 1px solid rgb(238, 213, 213);
    text-align: center;
    border-radius: 22px;
    background-color: white;
    margin-top: 20px;
    
}
.g-images {
    margin-top: 20px;
    margin-bottom: 5px;
    /* border: 1px solid green; */
}
.special {
    font-size: small;
    color: rgb(33, 21, 7);
    font-weight: 300;
    margin-top: 5px;
}
.special:hover {
    color: gray;
}
.dot {
    margin-top: 3px;
    padding: 3px 5px;
}

.inner-details {
    display: grid;

    grid-template-columns: 1fr 1fr;
}
.arrange {
    margin-top: 13px;
    margin-left: 11px;
    padding: 17px 32px;
    border: 1px solid rgb(185, 153, 153);
    border-radius: 50px;
    margin-bottom: 19px;
    color: rgb(181, 172, 172);
}

.power {
    margin-top: 10px;
    border-radius: 20px;
    color: rgb(184, 174, 174);
    margin-bottom: 90px;
}
.btn-last {
    /* margin-top: 20px;
    padding: 18px 190px;
    border-radius: 50px;
    border: none;
    margin-left: 14px;
    /* color: rgb(164, 155, 155); */
    background-color: white;
    color: rgb(164, 155, 155); */
}
.btn-last:hover {
    color: white;
    color: rgb(184, 174, 174);
}
.message {
    color: gray;
    margin-top: 30px;
    padding: 20px 170px;
    border-radius: 50px;
    /* border: none; */
    border: 1px solid rgb(185, 153, 153);
    margin-left: 14px;
    /* color: rgb(164, 155, 155); */
    background-color: white;
    color: rgb(164, 155, 155);
    
}
.message:hover {
    color: white;
    background-color: gray;
}

footer {
    margin-top: 80px;
    max-width: 1200px;
    padding-top: 15px;
    height: 140px;
    margin-top: 130px;
    color: white;
    text-align: center;
    background-color: rgb(228, 102, 171);
} 
.present {
    margin-top: 20px;
    line-height: 30px;
}
